
Add · CSS
/* =========================
   MAIN CONTAINER
   ========================= */
main {
    width: 100%;
}

/* =========================
   PAGE TITLE
   ========================= */
main h1 {
    text-align: center;
    padding: 0.25em;
}

/* =========================
   FORM WRAPPER CONTAINER
   ========================= */
main div {
    display: flex;
    justify-content: center;
}

/* =========================
   FORM STYLING
   ========================= */
main form {
    display: flex;
    flex-direction: column;
    background-color: var(--form-background-blue);
    border: 2px solid var(--form-border-orange);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
    padding: 1em;
    border-radius: 16px;
    width: 90%;
    margin: 2em
}

/* =========================
   FORM INPUTS & DROPDOWNS
   ========================= */
main form input,
main form select {
    margin-bottom: 1em;
    padding: 0.5em ;
}

/* =========================
   STATUS MESSAGE DISPLAY
   ========================= */
#message {
    display: block;
}

/* Error Message */
#message .error {
    background-color: var(--status-red);
    border-radius: 5px;
    padding: 1em;
}

/* Success Message */
#message .success {
    background-color: var(--status-green);
    border-radius: 5px;
    padding: 1em;
}

/* =========================
   RESPONSIVE - LARGER SCREENS
   ========================= */
@media (min-width: 800px) {
    main form {
        width: 720px
    }
}