:root {
    --primary-white: #fff;
    --primary-blue: #00d;
    --secondary-blue: #00a;
    --text-blue: #00f;
    --primary-orange: #f50;
    --secondary-orange: #d30;
    --text-orange: #f60;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-blue);
    width: 100vw;
    justify-content: space-between;
}

header img {
    width: 40%;
}

header nav {
    width: 60%;
    align-self: center;
}

header ul {
    align-items: flex-end;
    padding-left: 0;
    width: 100%;
    display: flex;
    gap: 16px;
}

header li {
    text-align: center;
    align-self: flex-end;
    list-style: none;
    background-color: var(--primary-blue);
    border-radius: 16px;
}

header li:hover {
    background-color: var(--secondary-blue);
}

header li.active {
    background-color: var(--primary-orange);
}

header li a {
    color: var(--text-orange);
    text-decoration: none;
    justify-content: center;
    font-size: 1.25em;
    font-weight: bold;
    padding: 1em 0;
}

header li.active a {
    color: var(--text-blue);
}

main {
    flex: 1;
}

footer {
    background-color: var(--primary-blue);
    padding: 0.5em;
}

footer p {
    text-align: center;
    color: var(--primary-white);
}